@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
html{
    scroll-behavior: smooth;
    animation: fade linear;
    animation-timeline: view();
 }

body{
    position: relative;
}

 .left-side h1{
    font-weight: bolder;
    font-size: 3rem;
    margin-bottom: 10px;
    color:#EC008C;

 }
 .left-side h2{
    font-size: 2rem;
    color:#EC008C;
 }

   
 .left-side p{
    font-weight: 500;
    font-size: 1.2rem;
   
    
 }

 .left-side {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
   
 }

 .content{
    width: 100%;
    height: 100%;
    background-image: url(4.jpg);
    background-size: cover;
    background-repeat: no-repeat;
   background-clip: border-box;
   display: flex;
   justify-content: center;
   text-align: center;
 }

 .right-side{
    width: 50%;
    justify-content: center;
    height: 100%;
 }

 .right-side .img{
    position: absolute;
    
    width: 50%;
    height: 50%;
 }

 .btn {
    padding: 14px 26px;
    background: #fff;
    border-radius: 50px;
    border: none;
    cursor: pointer;
    transition: all 0.3s ease;
 }

 .btn {
    border: 2px solid #f6891f;
    background: transparent;
    color: #f6891f;
  }
  .btn:hover {
    background-color: #EC008C;
    color: black;
  }
 .btn2{
    padding: 14px 26px;
    background: #fff;
    border-radius: 50px;
    border: none;
    cursor: pointer;
    transition: all 0.3s ease;
    border: 2px solid #f6891f;
    background: transparent;
    color: #f6891f;
    width: auto;
    display: flex;
   justify-content: flex-end;
 }



.btn2:hover {
    background-color: #EC008C;
    color: black;
  }

  